/* Styles for header */
header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #357935;
  border-radius: 5px;
}

.logout-btn {
  margin-left: auto; /* Push logout button to the right */
}

/* Styles for main content */
main {
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"], button[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.upload-btn {
  float: right;
}

/* Styles for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #4CAF50;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styles for pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 16px;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination li.disabled a {
  pointer-events: none;
  background-color: #ddd;
  color: #999;
}

.pagination li a:hover {
  background-color: #ddd;
  color: #333;
}
