doctype html
html
  head
    title Landing Page
    link(rel='stylesheet', href='/styles/home.css')
  body
    .landing-page
      header
        .container
          a.logo(href='#') UPLOAD <b>V</b>
          ul.links
            li.link-item
              a(href='/login') Log In
      .content
        .container
          .info
            h1.title Upload all your important files without worrying about security
            b 
                p.description New to our service......Try registering with us
            a(href='/register')
              button.button Register with us
          .image
            img.image(src='https://i.postimg.cc/65QxYYzh/001234.png')