doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register
    script(src="/scripts/register.js")
    link(rel="stylesheet", href="/styles/register.css")
  body
    .container
      h1 Register
      form(id="registerForm", action="/register", method="post")
        input(type="text", id="username", name="username", placeholder="Username", required)
        span#usernameError.error.hidden Username is required
        input(type="email", id="email", name="email", placeholder="Email", required)
        span#emailError.error.hidden Email is invalid
        input(type="password", id="password", name="password", placeholder="Password", minlength="6", required)
        span#passwordError.error.hidden Password must be at least 6 characters long
        button(type="submit", id="submitButton") Register
      span#registerError.error.hidden Registration failed